@media(max-width:575px) {
    .navbar-light .navbar-brand img {
        width: 60%;
    }
    .navbar-toggler-icon {
        color: #ffff;
        background-color: #fff
    }
    .navbar_text .nav-item .nav-link {
        text-align: center;
    }
    .full_nav {
        padding: 40px 0;
    } 
    .nav-bg {
        background-color: transparent;
    }
    .home_icon {
        display: none;
    }
        
    .slick-slider .slick-dots{
        top: 90%;
        right: 0;
        left: 37%;
    }
    .slick-slider .slick-dots li{
        display: inline-block;
        margin: 0 5px;
    }
    .banner_slider-1 {
        padding: 120px 0 50px 0;
    }
    .banner_slider-2 {
        padding: 120px 0 50px 0;
    }
    .banner_slider-3 {
        padding: 120px 0 50px 0;
    }
    .banner-text h1 {
        font-size: 40px;
    }
    .banner-text h2 {
        font-size: 20px;
    }
    .banner-text p {
        font-size: 12px;
    }
    .banner-btn a {
        width: 140px;
        height: 55px;
        padding: 0 6px;
        margin-bottom: 10px;
    }
    .slider_btn p {
        font-size: 12px;
    }
    .slider_btn p span {
        font-size: 14px;
    }
    .slider_btn_2 p {
        font-size: 12px;
    }
    .slider_btn_2 p span {
        font-size: 14px;
    }
    #full_about {
        padding: 20px 0;
    }
    .about-img img {
        width: 80%;
        text-align: center;
    }
    .about-text h1 {
        font-size: 20px;
    }
    .flex-column .nav-link p span {
        display: none;
    }
    .flex-column .nav-link p {
        display: none;
    }
    .nav-pills .nav-link {
        padding: 0 5px;
        margin: 0 0 20px 0;
        border-bottom-style: none
    }
    .flex-column .nav-link:before {
        display: none;
    }
    .nav-pills{
        flex-direction: row!important;
        justify-content: center
    }
    .nav-pills .nav-link:hover{
        border-bottom-style: none
    }
    .nav-pills i{
        font-size: 33px;
    }
    .slick-slide{
        text-align: center
    }
    .feature-text h1 {
        text-align: center;
    }
    .feature-text p {
        text-align: center;
    }
    #full_screenshot {
        padding: 20px 0;
    }
    .slick-slide img {
        margin: auto;
    }
    .top-btn {
        bottom: 20px;
    }
    #full_price {
        padding: 30px 0;
        overflow: hidden;
    }
    .about-text img {
        margin-bottom: 0;
    }
    .m-top {
        margin-top: 50px!important;
    }
    .awesome_team {
        overflow: hidden;
        padding: 20px 0 0 0;
    }
    .team-member {
        margin: auto;
    }
    .feedback-text p {
        width: 100%;
        font-size: 12px;
        line-height: 14px;
    }
    .feedback-text {
        padding: 10px;
    }
    .footer-logo img {
        width: 60%;
    }
    .footer_icon i {
        height: 45px;
        width: 45px;
        margin: 30px 4px 0 4px;
    }
    .footer_text p {
        font-size: 12px;
    }
    #form_txt {
        margin-bottom: 10px;
    }

}

@media(min-width:576px) and (max-width:767px) {
    .navbar-light .navbar-brand img {
        width: 60%;
    }
    .navbar-toggler-icon {
        color: #ffff;
        background-color: #fff
    }
    .navbar_text .nav-item .nav-link {
        text-align: center;
    }
    .full_nav {
        padding: 40px 0;
    } 
    .nav-bg {
        background-color: transparent;
    }
    .home_icon {
        display: none;
    }
        
    .slick-slider .slick-dots{
        top: 90%;
        right: 0;
        left: 42%;
    }
    .slick-slider .slick-dots li{
        display: inline-block;
        margin: 0 5px;
    }
    .banner_slider-1 {
        padding: 120px 0 50px 0;
    }
    .banner_slider-2 {
        padding: 120px 0 50px 0;
    }
    .banner_slider-3 {
        padding: 120px 0 50px 0;
    }
    .banner-text h1 {
        font-size: 45px;
    }
    .banner-text h2 {
        font-size: 25px;
    }
    .banner-text p {
        font-size: 14px;
    }
    .banner-btn a {
        width: 155px;
        height: 55px;
        padding: 0 16px;
        margin-bottom: 10px;
    }
    .slider_btn p {
        font-size: 12px;
    }
    .slider_btn p span {
        font-size: 14px;
    }
    .slider_btn_2 p {
        font-size: 12px;
    }
    .slider_btn_2 p span {
        font-size: 14px;
    }
    #full_about {
        padding: 20px 0;
    }
    .about-img img {
        width: 80%;
        text-align: center;
    }
    .about-text h1 {
        font-size: 20px;
    }
    .flex-column .nav-link p span {
        display: none;
    }
    .flex-column .nav-link p {
        display: none;
    }
    .nav-pills .nav-link {
        padding: 0 5px;
        margin: 0 0 20px 0;
        border-bottom-style: none
    }
    .nav-pills{
        flex-direction: row!important;
        justify-content: center
    }
    .nav-pills .nav-link:hover{
        border-bottom-style: none
    }
    .nav-pills i{
        font-size: 33px;
    }
    .slick-slide{
        text-align: center
    }
    .feature-text h1 {
        text-align: center;
    }
    .flex-column .nav-link:before {
        display: none;
    }
    .feature-text p {
        text-align: center;
    }
    #full_screenshot {
        padding: 20px 0;
    }
    .slick-slide img {
        margin: auto;
    }
    .top-btn {
        bottom: 20px;
    }
    #full_price {
        padding: 30px 0;
        overflow: hidden;
    }
    .about-text img {
        margin-bottom: 20px;
    }
    .m-top {
        margin-top: 50px!important;
    }
    #awesome_team {
        padding: 50px 0 0 0;
    }
    .awesome_team {
        overflow: hidden;
        padding: 20px 0 0 0;
    }
    .team-details p {
        font-size: 12px;
    }
    .team-member {
        margin: auto;
    }
    .feedback-container {
        height: 200px;
    }
    .feedback-text p {
        width: 100%;
        font-size: 12px;
        line-height: 14px;
    }
    .feedback-text {
        padding: 10px;
    }
    .footer-logo img {
        width: 60%;
    }
    .footer_icon i {
        height: 45px;
        width: 45px;
        margin: 30px 4px 0 4px;
    }
    .footer_text p {
        font-size: 12px;
    }
    #form_txt {
        margin-bottom: 10px;
    }

}

@media(min-width:768px) and (max-width:991px) {
    .navbar-light .navbar-brand img {
        width: 60%;
    }
    .home_icon {
    right: 10px;
    bottom: 60%;
    }
    .slick-dots {
    right: 10px;
    bottom: 35%;
    }
    .navbar_text .nav-item .nav-link {
        text-align: center;
    }
    .navbar-toggler-icon {
        color: #ffff;
        background-color: #fff
    }
    .banner_slider-1 {
    padding: 140px 0 40px 0;
    }
    .banner_slider-2 {
    padding: 140px 0 40px 0;
    }
    .banner_slider-3 {
    padding: 140px 0 40px 0;
    }
    .banner-text h2 {
        font-size: 27px;
    }
     .banner-btn a {
        width: 155px;
        height: 55px;
        padding: 0 14px;
        margin-bottom: 10px;
    }
    .slider_btn p {
        font-size: 12px;
    }
    .slider_btn p span {
        font-size: 14px;
    }
    .slider_btn_2 p {
        font-size: 12px;
    }
    .slider_btn_2 p span {
        font-size: 14px;
    }
    #full_about {
        padding: 50px 0 50px 0;
    }
    .flex-column .nav-link i {
        font-size: 28px;
        margin-right: 5px;
    }
    .flex-column .nav-link p span {
        font-size: 16px;
    }
    .flex-column .nav-link p {
        font-size: 12px;
    }
    .width-80 {
        width: 70%;
    }
    .feature-text h1 {
        margin-top: 0;
    }
    
    .m-top {
        margin-top: 50px!important;
    }
    #full_screenshot {
        padding: 30px 0;
    }
    #full_price {
        padding: 50px 0;
    }
    .team-overlay a i {
        margin: 80px 5px 0 5px;
    }
    .team-details h2 {
        padding-top: 5px;
    }
    .team-details p {
        font-size: 12px;
        width: 90%;
    }
    .awesome-slider {
        height: 420px;
    }
    .feedback-text p {
        width: 100%;
    }
    .feedback-text {
        padding: 5px;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .width-80 {
        width: 80%;
    }
    .home_icon {
    right: 10px;
    bottom: 60%;
    }
    .slick-dots {
    right: 10px;
    bottom: 35%;
    }
}